atomicwrites==1.4.0
attrs==20.2.0
cffi==1.14.3
colorama==0.4.4
iniconfig==1.1.1
numpy==1.19.2
packaging==20.4
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.1.1
six==1.15.0
tcod==11.15.3
toml==0.10.1
